body {
    background-image: url('../images/pokemon-background.jpg');
    background-size: cover;
}

#game-board, #word-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#pikachu {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#pikachu img {
    float: right;
}

button {
    position: relative;
    display: inline-block;
    margin: 0 0 25px 0px;
    padding: 5px 10px;
    width: 180px;
    background: #93ce37;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
}